<table width="100%" class="estilo0" border="0" height="100%">
	<tr>
		<td height="25" colspan=3></td>
	</tr>
	
	<tr>
		<td width="15"></td>
		<td align="center" height=20 class="Mostrar" style="font-size:15px">Antecipação solicitada com sucesso.</td>
		<td width="15"></td>
	</tr>
	
	<tr>
		<td height="25" colspan=3></td>
	</tr>	
</table>
