<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center" style="font-size:15px">Não foram encontrados resultados para sua pesquisa.</td>
	</tr>

	<tr>
		<td height="15"></td>
	</tr>
</table>
