<table class="estilo7" width=95% align="center">
	<tr>
		<td class="estilo13"> Discriminação dos valores de abatimento / Descontos da NF - <%=  params[:id] %> Série - 'taal'</td>
	</tr>
	
	<tr>
		<td align="center">
			<table width="98%" id="prop3" style="border:1px solid white">
				<tr class="estilo10">
					<td align="center" class="negrito" id="prop1">Código</td>
					<td align="center" class="negrito" id="prop1">Descrição</td>
					<td align="center" class="negrito" id="prop1">Crédito Devolução</td>
				</tr>
				
				<tr class="estilo12" id="prop2">
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="estilo11">Documento para simples conferência, sem valor jurídico.</td>
	</tr>
</table>