<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="titpag">Aviso de Crédito Previsto / Antecipação</td>
		<td align="right"></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bgtab0">
	<tr> 
		<td nowrap align="left" width="16%" class="tittab2">Mensagem</td>
	</tr>         
	<tr> 
		<td align="center" height=35 class="bgtab1">Antecipação solicitada com sucesso.</td>
	</tr>
	
</table><br />
		
<table align="left" border="0" cellpadding="0" cellspacing="0">
	<tr> 
		<td><div style="float:left"><%= button_to "Voltar", previsto_antecipacao_url, :class=>"semclicar" %></div></td>
	</tr>
</table>		